<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendiendo Angular</title>
</head>
<body>
    <!--
        <h2> Duplicar componentes dentro de la misma pagina </h2>
        <app-contador> </app-contador>
        <app-heroes></app-heroes>
        <app-listado></app-listado>
        
    -->
    <app-contador> </app-contador>

</body>
</html>
